{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table style="width:100%">
        <tr>
            <th> Symbol </th>
            <th> Units </th>
            <th> Unit Price </th>
            <th> Total Price </th>
            <th> Status </th>
            <th> DateTime </th>
        </tr>
        {% for i in trs %}
        <tr>
            <td>{{ i.symbol }}</td>
            <td>{{ i.units }}</td>
            <td>{{ i.unitprice }}</td>
            <td>{{ i.totalprice }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.time }}</td>
        </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}
